---
// Import the Layout component
import Layout from '../layouts/Layout.astro'
// Import the stylesheet for the frame page
import '../styles/pages/frame.scss'

// Default redirect object
var def = {
    slug: '/not-correct', 
    dest: '/', 
}

// Function to get static paths for redirects
export async function getStaticPaths() {
    var redirects = [
        {
            slug: '/sign-up', 
            dest: 'https://go.graphics-for-good.com/Sign-Up', 
            mode: 'frame', 
        }, 
        {
            slug: '/status', 
            dest: 'https://www.whatsmydns.net/#A/graphics-for-good.com', 
        },
        {
            slug: '/about', 
            dest: '/mission', 
        },
        {
            slug: '/RemoveG4GEmailFromDTechGMail', 
            dest: 'https://scribehow.com/shared/Delete_Gmail_Account_From_Settings__78OV_z6vSX-eRlqEdG1kgA', 
        },
    ]
    // Return paths and props for each redirect
    return redirects.map(redirect => {
        return {
            params: {redirect: redirect.slug},
            props: {redirect},
        };
    });
}

// Get the redirect object from Astro props
var { redirect: rObj } = Astro.props as any;

// Set default values if rObj is not defined
if (!rObj) rObj = def
if (!rObj.mode) rObj.mode = 'page'

// Function to generate a title from the slug
function getTitle(link) {
    if (link.startsWith('/')) link = link.slice(1)
    
    var nameParts = []
    if (link.includes('-')) nameParts = link.split('-')
    else nameParts = [link]

    nameParts.forEach((p, i) => {
        nameParts[i] = `${p.slice(0, 1).toUpperCase()}${p.slice(1)}`
    })

    return nameParts.join(' ')
}

// Generate the title for the page
var title = getTitle(rObj.slug)

---
<!-- Conditional rendering based on the mode -->
{rObj.mode === 'page' ? (
    <html>
        <head>
            <!-- Meta tag for immediate redirect -->
            <meta http-equiv="refresh" content={`0; url=${rObj.dest}`} />        
            <!-- Inline script for immediate redirect is JS ios present -->
            { /* @ts-ignore */ }
            <script url={rObj.dest} is:inline>location.replace(document.currentScript.getAttribute('url'))</script>
        </head>
        <body>
            Redirecting you to <a href={rObj.dest}>{rObj.dest}</a>.
        </body>
    </html>
) : ''}

<!-- Use the Layout component with the generated title -->
<Layout title={title}>
    <!-- Main content area with a class of "frame-page" -->
    <main id="content" class="frame-page">
        <!-- Embed an iframe with the destination URL -->
        <iframe frameborder="0" src={rObj.dest} class="frame" />
    </main>
</Layout>