---
/*--------======== NOT USING THIS PAGE ANYMORE, the "_" at the start of the file name asks Astro not to host it. ========-------- */

// Import the Layout component
import Layout from '../layouts/Layout.astro'

// Import the stylesheet for the welcome page
import '../styles/pages/welcome.scss'
---
<!-- Use the Layout component and set the page title to "Welcome" -->
<Layout title="Welcome">
  <!-- Embed an iframe with a specific source URL -->
  <iframe src="/?o=n"></iframe>
  <!-- Background div for welcome page -->
  <div class="welcome-bg"></div>
  <!-- Main content area with a class of "welcome" -->
  <main class="welcome">
    <div>
      <!-- Top section with a welcome message -->
      <section class="top">
        <h1>Welcome to Graphics for Good</h1>
      </section>
      <!-- Middle section explaining the purpose of the club -->
      <section class="middle">
        <h1 class="whymakethisclub">Why make this club?</h1>
        <p class="text" centered style="text-align: justify;">
          Our mission is to help create change in the world through design. We understand the importance of design in the non-profit sector, and we want to use our skills and resources to support organizations that are making a positive impact in our community and beyond. We strive to provide free design help for non-profits that support a wide range of causes, from environmental protection to healthcare, education and more.
        </p>
        <p class="text" centered style="text-align: justify;">
          Our team of experienced designers are passionate about using their skills for good and are dedicated to working closely with non-profit organizations to create graphics and designs that accurately reflect their mission and message. We believe that by providing high-quality design at no cost, we can empower non-profits to more effectively communicate their message and achieve their goals, ultimately making a greater impact in the world.
        </p>
      </section>
      <!-- Bottom section with navigation buttons -->
      <section class="bottom">
        <a href="/" class="back btn primary">Proceed</a>
        <a onclick="closeWindow(window)" class="btn">Close</a>
      </section>
    </div>
  </main>
  <!-- Inline script for handling page functionality -->
  <script is:inline>
    // Ensure the URL contains a hash
    if (location.href.indexOf("#") == -1) {
      window.open(`${location.href}#`, '_self')
    }

    // Function to close the window
    function closeWindow(w) {
      if (w === window) {
        try {
          window.close()
        } catch (err) {
          window.open(location.href.substring(0, location.href.indexOf("?")).substring(0, location.href.indexOf("#")) + "#", "_self")
          window.close()
        }
      }
      else w.close()
    }

    // Function to set a cookie
    function setCookie(cname,cvalue,exdays,cpath='/') {
      const d = new Date();
      d.setTime(d.getTime() + (exdays*24*60*60*1000));
      let expires = 'expires=' + d.toUTCString();
      document.cookie = `${cname}=${cvalue};${expires};path=${cpath}`;
    }

    // Function to get a cookie
    function getCookie(cname) {
      let name = `${cname}=`;
      let decodedCookie = decodeURIComponent(document.cookie);
      let ca = decodedCookie.split(';');
      for(let i = 0; i < ca.length; i++) {
        let c = ca[i];
        while (c.charAt(0) == ' ') {
          c = c.substring(1);
        }
        if (c.indexOf(name) == 0) {
          return c.substring(name.length, c.length);
        }
      }
      return '';
    }

    // Set a cookie indicating the user has visited
    setCookie('hasVisited', true, (365/12))
    const queryString = window.location.search;
    const urlParams = new URLSearchParams(queryString);
    const path = urlParams.get('p') || '/'

    // Update the iframe source and back button href based on URL parameters
    document.querySelector('iframe').src = `${path}?o=n`
    document.querySelector('.btn.back').href = path
  </script>
</Layout>