---
// Import the Layout component
import Layout from '../layouts/Layout.astro'

// Import the Split and TinySplit components
import Split from '../components/split.astro'
import TinySplit from '../components/tinySplit.astro'

// Import the LargeImage component
import LargeImage from '../components/largeImage.astro'

// Import the stylesheet for the projects page
import '../styles/pages/projects.scss'

// Define the projects array with project details
var projects = [
  [
    {
      title: 'Amphibian Foundation',
      description: 'Redesign the <a href="https://amphibianfoundation.org/index.php/pages">Why We Do It Page</a> on <a href="https://amphibianfoundation.org">Their Website</a>.',
      image: {
        styles: '--max-height: calc(100% - 5px);',
        src: 'amphibian-foundation.svg',
        alt: 'The Amphibian Foundation Logo'
      }
    },
    {
      title: 'S.A.V.E. Foundation',
      description: 'Chao from S.A.V.E. wants us to create Instagram posts for #herstory. This is where S.A.V.E posts inspiring stories of strong and brave women.',
      image: {
        styles: '',
        src: 'save-foundation.svg',
        alt: 'The S.A.V.E. Foundation Logo'
      }
    },
  ],
  [
    {
      title: 'Vanni Aid',
      description: "We are currently working with Anita from Vanni Aid to re-do their website! Adarsh is working on this.",
      image: {
        styles: '',
        src: 'vanniaid-foundation.jpg',
        alt: 'The Vanni Aid Logo'
      }
    },
    {
      title: 'CORA',
      description: 'Create an informational flyer about CORA with a design targeted at middle school and high school students for their YEA! (Youth Education Advocacy) program.',
      image: {
        styles: '',
        src: 'cora-foundation.png',
        alt: 'The CORA Logo'
      }
    },
  ],
  [
    {
      title: 'Headstreams',
      description: 'Description Coming Soon',
      image: {
        styles: '',
        src: 'headstreams.png',
        alt: 'The Headstreams Logo'
      }
    },
  ]
]
---
<!-- Use the Layout component and set the page title to "Projects" -->
<Layout title="Projects">
  <!-- Main content area with a class of "projects" -->
  <main id="content" class="projects">
    {
      // Map through the projects array and display each project
      projects.map((row, i) => {
        return (
          <>
            {i !== 0 ? <span class="hHr"></span> : '' }
            <Split idName="" classItems="">
              {row.length % 2 === 1 ? <span class="vHr"></span> : ''}
              {
                row.map((item, i) => {
                  return (
                    <>
                      {i !== 0 ? <span class="vHr"></span> : ''}
                      <section>
                        <h1>{item.title}</h1>
                        <TinySplit idName="" classItems="">
                          <div>
                            <p set:html={item.description} />
                          </div>
                          <div class="img-parent" style={item.image.styles}>
                            <LargeImage src={`/assets/projects/${item.image.src}`} alt={item.image.alt} draggable={false} id="" orientation="" fullRes={}/>
                          </div>
                        </TinySplit>
                      </section>
                    </>
                  )
                })
              }
              {row.length % 2 === 1 ? <span class="vHr"></span> : ''}
            </Split>
          </>
        )
      })
    }
  </main>
</Layout>